<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!-- Agregamos el concepto de seguridad de thymeleaf -->
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <header th:fragment="header">
            <h1>Control de Usuarios</h1>
        </header>
        
        <footer th:fragment="footer">
            <p>Derechos Reservados <a href="https://www.instagram.com/eko_paraguay/" target="_blank">Etica S. A.</a></p>
            <form method="POST" th:action="@{/logout}">
                <b>User:</b>  <span sec:authentication="name">Usuario que hizo loguin</span> |
                <b>Roles:</b> <span sec:authentication="principal.authorities">Roles</span> |
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </footer>
        
    </body>
</html>
